<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Blog</title>
    <link rel="stylesheet" href="/public/app.css"/>
    <script src="/public/MobileBlog.js"></script>
    <script src="/public/api.js"></script>
  </head>
  <body>
