<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Mobile Blog</title>
    <link rel="stylesheet" href="/public/app.css"/>
    <script src="/public/MobileBlog.js"></script>
    <script src="/public/api.js"></script>
  </head>
  <body>
    <div class="nav">
      <div class="align-left btn icon">
        <input type="button" class="btn" href="/" value="MB"></input>
      </div>
      <div class="align-right btn">
        <input type="button" class="btn" href="/" value="Login"></input>
      </div>
    </div>
