<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Mobile Blog</title>
    <link rel="stylesheet" href="/public/css/app.css"/>
    <script src="/public/js/MobileBlog.js"></script>
    <script src="/public/js/api.js"></script>
</head>
<body>
<div class="nav">
    <div class="align-left btn icon">
        <input type="button" class="btn nofocuseffect" onclick="goHome()" value="文">
    </div>
    <div class="align-right btn">
        <input type="button" class="btn nofocuseffect" value="写" onclick="goWrite()">
    </div>
</div>
