<% include header %>
<div class="center">
  <input class="login edit nofocuseffect" placeholder="笔名" type="text" onkeyup="penNameChange(event)"></input>
</div>
<div class="center">
  <input class="login edit nofocuseffect" placeholder="邮箱" type="email" onkeyup="emailChange(event)"></input>
</div>
<div class="center">
  <input class="login edit nofocuseffect" placeholder="密码" type="password" onkeyup="passwordChange(event)"></input>
</div>
<% include footer %>
