<link rel="stylesheet" href="/public/app.css"/>
<script src="/public/MobileBlog.js"></script>

<div class="title center">
  <input class="title-edit nofocuseffect" type="text" placeholder="输入一个标题。。。" onkeyup="change(event, 'title')"></input>
</div>

<div class="content center">
  <textarea class="content-edit nofocuseffect" placeholder="说点什么。。。" onkeyup="change(event, 'content')"></textarea>
</div>

<button class="preview-btn" type="button">预览</button>
<button class="publish-btn" type="button">发布</button>
