<% include header %>
<div>
  <input class="edit nofocuseffect" placeholder="笔名"></input>
</div>
<div>
  <input class="edit nofocuseffect" placeholder="邮箱"></input>
</div>
<div>
  <input class="edit nofocuseffect" placeholder="密码"></input>
</div>
<% include footer %>
