<% include header %>
<div class="container">
    <div class="section-container">
        <div class="title nofocuseffect"></div>
        <hr>
        <div class="content nofocuseffect"></div>
    </div>
</div>
<link rel="stylesheet" href="/public/lib/css/default.css"/>
<link rel="stylesheet" href="/public/lib/css/medium-editor.css"/>
<script src="public/lib/js/medium-editor.js"></script>
<script src="public/js/write.js"></script>
<% include footer %>
